
    h1 {
      border-radius: 0px;
      text-align: center;
      text-size-adjust: 200%;
      color: white;
      padding: 10px;
      margin: 10px;
      font-family: 'Trebuchet MS', sans-serif;
    }

    .navbar {
      width: 100%;
      background-color: transparent;
      overflow: auto;
      font-family: 'Trebuchet MS', sans-serif;
    }

    .navbar a {
      float: right;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
    }

    .navbar a:hover {
      background-color: #868686;
      border-radius: 50px;
    }

    .active {
      background-color: #ffca6c;
      border-radius: 50px;
    }

    @media screen and (max-width: 500px) {
      .navbar a {
        float: none;
        display: block;
      }
    }

    /* LINE */
    hr.new3 {
      border-top: 5px solid #ffffff;
    }


    /* HOMEPAGE */
    .image-container {
      background-image: url(" ");
      background-size: cover;
      position: relative;
      height: 200px;
    }
    
    .text {
      background-color: white;
      color: black;
      border-radius: 50px;
      font-size: 6vw; 
      font-weight: bold;
      margin: 0 auto;
      padding: 10px;
      width: 50%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: screen;
      font-family: 'Trebuchet MS', sans-serif;
    }
    
    p {
      font-family: 'Trebuchet MS', sans-serif;
      color:white;
      text-align: left;
      word-wrap: normal;
    }

    h2 {
      border-radius: 0px;
      text-align: left;
      text-size-adjust: 150%;
      color: white;
      font-family: 'Trebuchet MS', sans-serif;
    }

    .technology {
      width: 1250px;
      height: 125px;
      padding: 5px;
      border: 0px solid white;
      margin: 0px;
    }

    .tlist {
      color: white;
      text-align: left;
      padding: 2px;
      font-family: 'Trebuchet MS', sans-serif;
    }

      /* SECTION COUNTERS */
    * {
      box-sizing: border-box;
    }
    

    /* Float four columns side by side */
    .seccolumn {
      float: left;
      width: 100%;
      padding: 0 5px;
      text-align: center;
    }
    
    .secrow {margin: 0 -10px;}
    
    /* Clear floats after the columns */
    .secrow:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive columns */
    @media screen and (max-width: 600px) {
      .seccolumn {
        width: 100%;
        display: block;
        margin-bottom: 40x;
      }
    }
    
    /* Style the counter cards */
    .seccard {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #444;
      color: white;
    }
    
    .secfa {font-size:50px;}

    .sechead {
      border-radius: 0px;
      text-align: center;
      text-size-adjust: 150%;
      color: white;
      font-family: 'Trebuchet MS', sans-serif;
    }

    .secparagraph {
      font-family: 'Trebuchet MS', sans-serif;
      color:white;
      text-align: center;
    }

    #myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: #ffca6c;
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
    }

    #myBtn:hover {
      background-color: #555;
    }
